DEBUG=True
SECRET_KEY=change-this-secret-key

POSTGRES_DB=ecommerce_db
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=ecommerce_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

FAKE_WEBHOOK_SECRET=local-fake-secret
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
DEFAULT_FROM_EMAIL=noreply@ecommerce.local
